@model Vidyanjali.Areas.Admin.Models.Topic.Bugle
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-content">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="main-content-header">
            <h3><i class="fa fa-sitemap fa-2x"></i>Create new Page</h3>
            <a href="@Url.Action("Index", "Bugle")" class="back"><i class="fa fa-angle-double-left"></i>Back to list</a>
            <input type="submit" value="Create" class="save-btn" />
        </div>
        <div id="tabs">
            <ul>
                <li><a href="#tabs-1">About</a></li>

            </ul>
            <div id="tabs-1">
                <table class="table-form">
                    <tbody>

                        <tr>
                            <td>
                                @Html.LabelFor(model => model.Name)
                            </td>
                            <td>:</td>
                            <td>
                                @Html.TextBoxFor(model => model.Name)
                                @Html.ValidationMessageFor(model => model.Name)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.Volume)
                            </td>
                            <td>:</td>
                            <td>
                                @Html.TextBoxFor(model => model.Volume)
                                @Html.ValidationMessageFor(model => model.Volume)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.IssueType)
                            </td>
                            <td>:</td>
                            <td>
                                @Html.TextBoxFor(model => model.IssueType)
                                @Html.ValidationMessageFor(model => model.IssueType)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.ReleasedOn)
                            </td>
                            <td>:</td>
                            <td>
                                @Html.TextBoxFor(model => model.ReleasedOn)
                                @Html.ValidationMessageFor(model => model.ReleasedOn)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.Priority)
                            </td>
                            <td>:</td>
                            <td>
                                @Html.TextBoxFor(model => model.Priority)
                                @Html.ValidationMessageFor(model => model.Priority)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.IsPublished, "Published")
                            </td>
                            <td>:</td>
                            <td>
                                @Html.CheckBoxFor(model => model.IsPublished)
                                @Html.ValidationMessageFor(model => model.IsPublished)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
           
       </div>
    }
</div>
        @section js{
            <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
            <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
            <script src="@Url.Content("/Areas/Admin/Content/editors/tinymce/jscripts/tiny_mce/tiny_mce.js")" type="text/javascript"></script>
            <script src="@Url.Content("/Areas/Admin/Content/editors/jquery-tinyMce.js")" type="text/javascript"></script>
            <script type="text/javascript">
                $("input#Heading").keyup(function () {
                    $(".replication").val(this.value);
                    var inputWithoutSpace = this.value.replace(/[^a-z0-9_&\s]/gi, '').replace(/[\s]/g, '-').replace(/[&]/g, 'and');
                    $("input#Url").val(inputWithoutSpace);
                });

                $(".replication").change(function () {
                    $(this).removeClass("replication");
                });
            </script>
        }

