<div class="sidebar">
    <ul>
        <li><a href="@Url.Action("Index", "Enquiry", new { area = "EMS" })"><i class="fa fa-envelope-o  fa-2x"></i>Enquiries</a></li>
        <li><a href="@Url.Action("Index", "Blog", new { area = "Admin" })"><i class="fa fa-envelope-o  fa-2x"></i>Enquiries</a></li>
        <li><a href="@Url.Action("Index", "FAQ", new { area = "Admin" })"><i class="fa fa-envelope-o  fa-2x"></i>Enquiries</a></li>
        <li><a href="@Url.Action("Index", "SpotLight", new { area = "Admin" })"><i class="fa fa-envelope-o  fa-2x"></i>Enquiries</a></li>
        <li><a href="@Url.Action("Index", "Testimonials", new { area = "Admin" })"><i class="fa fa-envelope-o  fa-2x"></i>Enquiries</a></li>
        <li><a href="@Url.Action("Index", "Gallery", new { area = "Admin" })"><i class="fa fa-envelope-o  fa-2x"></i>Enquiries</a></li>
        <li><a href="@Url.Action("Index", "Team", new { area = "Admin" })"><i class="fa fa-envelope-o  fa-2x"></i>Enquiries</a></li>
        <li>
            <a href="#"><i class="fa fa-clipboard  fa-2x"></i>CMS</a>
            <ul>
                <li><a href="@Url.Action("Index", "WebPage", new { area = "Admin" })"><i class="fa fa-pencil-square-o  fa-2x"></i>Webpages</a></li>
            </ul>
        </li>
    </ul>
</div>
